Repository mini-pw/2020L-WUM, pull requests merged in 2020-05, with the labels that each got.

#240 pd5 @stanisław pawlak
  Prace_domowe/Praca_domowa5/Grupa3/WdowskiMichal/pd5.ipynb
Labels: Grupa3

#243 PD5 @Stanisław Pawlak
  Prace_domowe/Praca_domowa5/Grupa3/WelkierKonrad/PD5.ipynb
Labels: Grupa3

#244 Praca Domowa 5 #Sieńko
  Prace_domowe/Praca_domowa5/Grupa3/SieńkoPiotr/PracaDomowa5.ipynb
Labels: Grupa3

#266 PD5 - MT
  Prace_domowe/Praca_domowa5/Grupa1/Mikolaj_Jakubowski/PD5.ipynb
  Prace_domowe/Praca_domowa5/Grupa1/Mikolaj_Jakubowski/klastry.jpg
Labels: Grupa1

#265 Praca domowa 5 - MT (grupa1)
  Prace_domowe/Praca_domowa5/Grupa1/PrzybylekPaulina/PracaDomowa5.html
  Prace_domowe/Praca_domowa5/Grupa1/PrzybylekPaulina/PracaDomowa5.ipynb
Labels: Grupa1

#247 Praca domowa 5 - oświadczenie + praca domowa 6 (Grupa 3)
  Prace_domowe/Praca_domowa5/Grupa3/UrbalaAnna/Zadanie domowe.ipynb
  Prace_domowe/Praca_domowa6/Grupa3/UrbalaAnna/pracadomowa.ipynb
Labels: Grupa3

#262 pd5 - MT (grupa 1)
  Prace_domowe/Praca_domowa5/Grupa1/GassowskaAda/pd5.ipynb
Labels: Grupa1

#263 pd5 - MT
  Prace_domowe/Praca_domowa5/Grupa1/BartłomiejEljasiak/img.png
  Prace_domowe/Praca_domowa5/Grupa1/BartłomiejEljasiak/pd5.ipynb
Labels: Grupa1

#256 pd5 - MT
  Prace_domowe/Praca_domowa5/Grupa1/JowikElzbieta/PD5.ipynb
  Projekty/Projekt2/Grupa1/BorowskiJowikKorbin/Milestone1.ipynb
Labels: Grupa1

#274 Grupa1 - PD5
  Prace_domowe/Praca_domowa5/Grupa1/KozminskiPawel/PD5.ipynb
Labels: Grupa1

#248 PD5 - MT
  Prace_domowe/Praca_domowa5/Grupa1/Piotr_Fic/pd5.ipynb
Labels: Grupa1

#259 Praca domowa nr 5
  Prace_domowe/Praca_domowa5/Grupa1/Korbin_Marceli/klaster.Rmd
  Prace_domowe/Praca_domowa5/Grupa1/Korbin_Marceli/klaster.html
Labels: Grupa1

#255 [GRUPA 3] praca domowa i projekt
  Prace_domowe/Praca_domowa5/Grupa3/SzypulaJakub/PracaDomowa5JakubSzypula.html
  Prace_domowe/Praca_domowa5/Grupa3/SzypulaJakub/PracaDomowa5JakubSzypula.ipynb
  Projekty/Projekt2/Grupa3/StaronSzypulaUrbala/distances.ipynb
Labels: Grupa3

#249 Praca domowa nr 5 - Jacek Wiśniewski
  Prace_domowe/Praca_domowa4/Grupa3/WisniewskiJacek/Zadanie4.Rmd
  Prace_domowe/Praca_domowa4/Grupa3/WisniewskiJacek/Zadanie4.html
  Prace_domowe/Praca_domowa4/Grupa3/WisniewskiJacek/oswiadczenie.txt
  Prace_domowe/Praca_domowa5/Grupa3/WisniewskiJacek/oswiadczenie.txt
  Prace_domowe/Praca_domowa5/Grupa3/WisniewskiJacek/pd5.ipynb
Labels: Grupa3

#250 PD5 GR2
  Prace_domowe/Praca_domowa5/Grupa2/MrozZuzanna/PD5.ipynb
Labels: Grupa2

#253 Praca domowa 5
  Prace_domowe/Praca_domowa5/Grupa2/PingielskiJakub/Praca_domowa_05.html
  Prace_domowe/Praca_domowa5/Grupa2/PingielskiJakub/Praca_domowa_05.ipynb
Labels: Grupa2

#257 [TK] PD5
  Prace_domowe/Praca_domowa5/Grupa2/RozekBartosz/PD5.ipynb
Labels: Grupa2

#264 PD5 Grupa2 TK
  Prace_domowe/Praca_domowa5/Grupa2/PrzybylinskiDawid/PD5.ipynb
Labels: Grupa2

#270 PD 5 [grupa 2]
  Prace_domowe/Praca_domowa5/Grupa2/Marcin Łukaszyk/PD5.ipynb
Labels: Grupa2

#283 drugi kamień milowy [GRUPA 3]
  Projekty/Projekt2/Grupa3/ChojeckiWdowski/drugi kamien milowy/Milestone2.Rmd
  Projekty/Projekt2/Grupa3/ChojeckiWdowski/drugi kamien milowy/Milestone2.html
  Projekty/Projekt2/Grupa3/ChojeckiWdowski/drugi kamien milowy/obrazki/gmm-lokiec.png
  Projekty/Projekt2/Grupa3/ChojeckiWdowski/drugi kamien milowy/spectral.R
Labels: Grupa3
